.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 30rem) {
  .wrapper {
    height: 100%;
    padding-top: 30px;
  }
}

.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 0.6fr 1fr 1.2fr 1fr;
      grid-template-rows: 1fr 0.6fr 1fr 1.2fr 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.content a {
  width: 130px;
  height: 130px;
  background-position: center;
  background-size: cover;
  position: relative;
}

@media (max-width: 65rem) {
  .content a {
    width: 90px;
    height: 90px;
  }
}

@media (max-width: 30rem) {
  .content {
    -ms-grid-columns: 1fr 2fr 1fr;
        grid-template-columns: 1fr 2fr 1fr;
    -ms-grid-rows: 2fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr;
        grid-template-rows: 2fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.main-picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  position: absolute;
}

@media (max-width: 30rem) {
  .main-picture {
    width: 100%;
    position: relative;
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
  }
}

.yrden {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 1;
  grid-row: 1;
  background-image: url("../../assets/yrden.png");
}

.yrden:hover {
  background-image: url("../../assets/yrden-hover.png");
}

@media (max-width: 30rem) {
  .yrden {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 2;
    grid-row: 2;
  }
}

.ard {
  -ms-grid-column: 5;
  grid-column: 5;
  -ms-grid-row: 3;
  grid-row: 3;
  background-image: url("../../assets/ard.png");
}

.ard:hover {
  background-image: url("../../assets/ard-hover.png");
}

@media (max-width: 30rem) {
  .ard {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 3;
    grid-row: 3;
  }
}

.igni {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 3;
  grid-row: 3;
  background-image: url("../../assets/igni.png");
}

.igni:hover {
  background-image: url("../../assets/igni-hover.png");
}

@media (max-width: 30rem) {
  .igni {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 6;
    grid-row: 6;
  }
}

.axie {
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 5;
  grid-row: 5;
  background-image: url("../../assets/axie.png");
}

.axie:hover {
  background-image: url("../../assets/axie-hover.png");
}

@media (max-width: 30rem) {
  .axie {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 4;
    grid-row: 4;
  }
}

.quen {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 5;
  grid-row: 5;
  background-image: url("../../assets/quen.png");
}

.quen:hover {
  background-image: url("../../assets/quen-hover.png");
}

@media (max-width: 30rem) {
  .quen {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 5;
    grid-row: 5;
  }
}

.hidden-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
}

@media (max-width: 30rem) {
  .hidden-text {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    bottom: -20px;
  }
}
/*# sourceMappingURL=styles.css.map */