@import "../../features/App/variable";

.wrapper {
    display: flex;
    height: 100vh;
    width: 100%;
    @include center;

    @media (max-width: $smaller-ipad){
        height: 100%;
        padding-top: 30px;
    }
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.6fr 1fr 1.2fr 1fr;
    justify-items: center;
    align-items: center;
    position: relative;

    & a {
        width: 140px;
        height: 130px;
        background-position: center;
        background-size: cover;
        position: relative;

        @media (max-width: $ipad){
            width: 100px;
            height: 90px;
        }
    }
    
    @media (max-width: $smaller-ipad){
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 2fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr;
    }
}

.main-picture {
    display: flex;
    width: 55%;
    position: absolute;

    @media (max-width: $smaller-ipad){
        width: 100%;
        padding-bottom: 10px;
        position: relative;
        grid-column: 2;
        grid-row: 1;
    }
}

.yrden {
    grid-column: 3;
    grid-row: 1;
    background-image: url("../../assets/yrden.png");

    &:hover {
        background-image: url("../../assets/yrden-hover.png"); 
        
        .hidden-text {
            bottom: 50px;
            animation: representation1 2s forwards;

            @keyframes representation1 {
                0% {
                    opacity: 0;
                    transform: translateX(70px);
                }
                100% {
                    opacity: 1;
                    transform: translateX(110px);
                }
            }

            @media (max-width: $ipad){
                bottom: 30px;
            }
        }
    }

    @media (max-width: $smaller-ipad){
        grid-column: 2;
        grid-row: 2;

        &:hover {
            .hidden-text {
                animation: none;
            }
        }
    }
}

.ard {
    grid-column: 5;
    grid-row: 3;
    background-image: url("../../assets/ard.png");

    &:hover {
        background-image: url("../../assets/ard-hover.png");
        
        .hidden-text {
            bottom: 50px;
            animation: representation2 2s forwards;

            @keyframes representation2 {
                0% {
                    opacity: 0;
                    transform: translateX(70px);
                }
                100% {
                    opacity: 1;
                    transform: translateX(120px);
                }
            }

            @media (max-width: $ipad){
                animation: representation6 2s forwards;

                @keyframes representation6 {
                    0% {
                        opacity: 0;
                        transform: translateY(50px);
                    }
                    100% {
                        opacity: 1;
                        transform: translateY(80px);
                    }
                }
            }
        }
    }

    @media (max-width: $smaller-ipad){
        grid-column: 2;
        grid-row: 3;

        &:hover {
            .hidden-text {
                animation: none;
            }
        }
    }
}

.igni {
    grid-column: 1;
    grid-row: 3;
    background-image: url("../../assets/igni.png");

    &:hover {
        background-image: url("../../assets/igni-hover.png");

        .hidden-text {
            bottom: 50px;
            animation: representation3 2s forwards;

            @keyframes representation3 {
                0% {
                    opacity: 0;
                    transform: translateX(-50px);
                }
                100% {
                    opacity: 1;
                    transform: translateX(-90px);
                }
            }

            @media (max-width: $ipad){
                animation: representation7 2s forwards;

                @keyframes representation7 {
                    0% {
                        opacity: 0;
                        transform: translateY(50px);
                    }
                    100% {
                        opacity: 1;
                        transform: translateY(80px);
                    }
                }
            }
        }  
    }

    @media (max-width: $smaller-ipad){
        grid-column: 2;
        grid-row: 6;

        &:hover {
            .hidden-text {
                animation: none;
            }
        }
    }
}

.axie {
    grid-column: 4;
    grid-row: 5;
    background-image: url("../../assets/axie.png");

    &:hover {
        background-image: url("../../assets/axie-hover.png"); 
        
        .hidden-text {
            bottom: 30px;
            animation: representation4 2s forwards;

            @keyframes representation4 {
                0% {
                    opacity: 0;
                    transform: translateX(70px);
                }
                100% {
                    opacity: 1;
                    transform: translateX(110px);
                }
            }

            @media (max-width: $ipad){
                animation: representation8 2s forwards;

                @keyframes representation8 {
                    0% {
                        opacity: 0;
                        transform: translateY(30px);
                    }
                    100% {
                        opacity: 1;
                        transform: translateY(60px);
                    }
                }
            }
        }
    }

    @media (max-width: $smaller-ipad){
        grid-column: 2;
        grid-row: 4;

        &:hover {
            .hidden-text {
                animation: none;
            }
        }
    }
}

.quen {
    grid-column: 2;
    grid-row: 5;
    background-image: url("../../assets/quen.png");

    &:hover {
        background-image: url("../../assets/quen-hover.png");
        
        .hidden-text {
            width: 150px;
            bottom: 30px;
            animation: representation5 2s forwards;

            @keyframes representation5 {
                0% {
                    opacity: 0;
                    transform: translateX(-70px);
                }
                100% {
                    opacity: 1;
                    transform: translateX(-120px);
                }
            }

            @media (max-width: $ipad){
                animation: representation9 2s forwards;

                @keyframes representation9 {
                    0% {
                        opacity: 0;
                        transform: translateY(30px);
                    }
                    100% {
                        opacity: 1;
                        transform: translateY(60px);
                    }
                }
            }
        }
    }

    @media (max-width: $smaller-ipad){
        grid-column: 2;
        grid-row: 5;

        &:hover {
            .hidden-text {
                width: 100px;
                animation: none;
            }
        }
    }
}

.hidden-text {
    display: flex;
    font-size: 1.8em;
    @include witcher-font-metal;
    position: absolute;
    opacity: 0;

    @media (max-width: $ipad){
        font-size: 1.5em;
    }
    
    @media (max-width: $smaller-ipad){
        position: relative;
        justify-content: center;
        top: -20px;
        font-size: 1.2em;
        opacity: 1;
    }
}