@import "../../features/App/variable";

.wrapper {
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;

    @media (max-width: $smaller-ipad){
        height: 100%;
        padding-top: 30px;
    }
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.6fr 1fr 1.2fr 1fr;
    justify-items: center;
    align-items: center;
    position: relative;

    & a {
        width: 130px;
        height: 130px;
        background-position: center;
        background-size: cover;
        position: relative;

        @media (max-width: $ipad){
            width: 90px;
            height: 90px;
        }
    }
    
    @media (max-width: $smaller-ipad){
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 2fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr;
        align-items: flex-start;
    }
}

.main-picture {
    display: flex;
    width: 60%;
    position: absolute;

    @media (max-width: $smaller-ipad){
        width: 100%;
        position: relative;
        grid-column: 2;
        grid-row: 1;
    }
}

.yrden {
    grid-column: 3;
    grid-row: 1;
    background-image: url("../../assets/yrden.png");

    &:hover {
        background-image: url("../../assets/yrden-hover.png");  
    }

    @media (max-width: $smaller-ipad){
        grid-column: 2;
        grid-row: 2;
    }
}

.ard {
    grid-column: 5;
    grid-row: 3;
    background-image: url("../../assets/ard.png");

    &:hover {
        background-image: url("../../assets/ard-hover.png");  
    }

    @media (max-width: $smaller-ipad){
        grid-column: 2;
        grid-row: 3;
    }
}

.igni {
    grid-column: 1;
    grid-row: 3;
    background-image: url("../../assets/igni.png");

    &:hover {
        background-image: url("../../assets/igni-hover.png");  
    }

    @media (max-width: $smaller-ipad){
        grid-column: 2;
        grid-row: 6;
    }
}

.axie {
    grid-column: 4;
    grid-row: 5;
    background-image: url("../../assets/axie.png");

    &:hover {
        background-image: url("../../assets/axie-hover.png");  
    }

    @media (max-width: $smaller-ipad){
        grid-column: 2;
        grid-row: 4;
    }
}

.quen {
    grid-column: 2;
    grid-row: 5;
    background-image: url("../../assets/quen.png");

    &:hover {
        background-image: url("../../assets/quen-hover.png");  
    }

    @media (max-width: $smaller-ipad){
        grid-column: 2;
        grid-row: 5;
    }
}

.hidden-text {
    display: flex;
    position: absolute;
    
    @media (max-width: $smaller-ipad){
        justify-content: center;
        bottom: -20px;
    }
}