@font-face {
  font-family: 'the-witcher';
  src: url("https://dafonttop.com/wp-data/t/406/6406/file/thewitcher-4.ttf") format("woff"), url("https://dafonttop.com/wp-data/t/406/6406/file/thewitcher-4.ttf") format("opentype"), url("https://dafonttop.com/wp-data/t/406/6406/file/thewitcher-4.ttf") format("truetype");
  src: url(../../fonts/thewitcher-4.ttf);
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media (max-width: 32rem) {
  .wrapper {
    height: 100%;
    padding-top: 30px;
  }
}

.forest, .sky {
  width: 110%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation: move 10s infinite;
          animation: move 10s infinite;
  z-index: -999;
  position: fixed;
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: skewX(0deg);
            transform: skewX(0deg);
  }
  50% {
    -webkit-transform: skewX(2deg);
            transform: skewX(2deg);
  }
  100% {
    -webkit-transform: skewX(0deg);
            transform: skewX(0deg);
  }
}

@keyframes move {
  0% {
    -webkit-transform: skewX(0deg);
            transform: skewX(0deg);
  }
  50% {
    -webkit-transform: skewX(2deg);
            transform: skewX(2deg);
  }
  100% {
    -webkit-transform: skewX(0deg);
            transform: skewX(0deg);
  }
}

.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 0.6fr 1fr 1.2fr 1fr;
      grid-template-rows: 1fr 0.6fr 1fr 1.2fr 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.content a {
  width: 140px;
  height: 130px;
  background-position: center;
  background-size: cover;
  position: relative;
}

@media (max-width: 65rem) {
  .content a {
    width: 100px;
    height: 90px;
  }
}

@media (max-width: 32rem) {
  .content {
    -ms-grid-columns: 1fr 2fr 1fr;
        grid-template-columns: 1fr 2fr 1fr;
    -ms-grid-rows: 2fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr;
        grid-template-rows: 2fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr;
  }
}

.main-picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 55%;
  position: absolute;
}

@media (max-width: 32rem) {
  .main-picture {
    width: 100%;
    padding-bottom: 10px;
    position: relative;
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
  }
}

.yrden {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 1;
  grid-row: 1;
  background-image: url("../../assets/yrden.png");
}

.yrden:hover {
  background-image: url("../../assets/yrden-hover.png");
}

.yrden:hover .hidden-text {
  bottom: 50px;
  -webkit-animation: representation1 2s forwards;
          animation: representation1 2s forwards;
}

@-webkit-keyframes representation1 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(70px);
            transform: translateX(70px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(110px);
            transform: translateX(110px);
  }
}

@keyframes representation1 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(70px);
            transform: translateX(70px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(110px);
            transform: translateX(110px);
  }
}

@media (max-width: 65rem) {
  .yrden:hover .hidden-text {
    bottom: 30px;
  }
}

@media (max-width: 32rem) {
  .yrden {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .yrden:hover .hidden-text {
    -webkit-animation: none;
            animation: none;
  }
}

.ard {
  -ms-grid-column: 5;
  grid-column: 5;
  -ms-grid-row: 3;
  grid-row: 3;
  background-image: url("../../assets/ard.png");
}

.ard:hover {
  background-image: url("../../assets/ard-hover.png");
}

.ard:hover .hidden-text {
  bottom: 50px;
  -webkit-animation: representation2 2s forwards;
          animation: representation2 2s forwards;
}

@-webkit-keyframes representation2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(70px);
            transform: translateX(70px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(120px);
            transform: translateX(120px);
  }
}

@keyframes representation2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(70px);
            transform: translateX(70px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(120px);
            transform: translateX(120px);
  }
}

@media (max-width: 65rem) {
  .ard:hover .hidden-text {
    -webkit-animation: representation6 2s forwards;
            animation: representation6 2s forwards;
  }
  @-webkit-keyframes representation6 {
    0% {
      opacity: 0;
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(80px);
              transform: translateY(80px);
    }
  }
  @keyframes representation6 {
    0% {
      opacity: 0;
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(80px);
              transform: translateY(80px);
    }
  }
}

@media (max-width: 32rem) {
  .ard {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  .ard:hover .hidden-text {
    -webkit-animation: none;
            animation: none;
  }
}

.igni {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 3;
  grid-row: 3;
  background-image: url("../../assets/igni.png");
}

.igni:hover {
  background-image: url("../../assets/igni-hover.png");
}

.igni:hover .hidden-text {
  bottom: 50px;
  -webkit-animation: representation3 2s forwards;
          animation: representation3 2s forwards;
}

@-webkit-keyframes representation3 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(-90px);
            transform: translateX(-90px);
  }
}

@keyframes representation3 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(-90px);
            transform: translateX(-90px);
  }
}

@media (max-width: 65rem) {
  .igni:hover .hidden-text {
    -webkit-animation: representation7 2s forwards;
            animation: representation7 2s forwards;
  }
  @-webkit-keyframes representation7 {
    0% {
      opacity: 0;
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(80px);
              transform: translateY(80px);
    }
  }
  @keyframes representation7 {
    0% {
      opacity: 0;
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(80px);
              transform: translateY(80px);
    }
  }
}

@media (max-width: 32rem) {
  .igni {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 6;
    grid-row: 6;
  }
  .igni:hover .hidden-text {
    -webkit-animation: none;
            animation: none;
  }
}

.axie {
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 5;
  grid-row: 5;
  background-image: url("../../assets/axie.png");
}

.axie:hover {
  background-image: url("../../assets/axie-hover.png");
}

.axie:hover .hidden-text {
  bottom: 30px;
  -webkit-animation: representation4 2s forwards;
          animation: representation4 2s forwards;
}

@-webkit-keyframes representation4 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(70px);
            transform: translateX(70px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(110px);
            transform: translateX(110px);
  }
}

@keyframes representation4 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(70px);
            transform: translateX(70px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(110px);
            transform: translateX(110px);
  }
}

@media (max-width: 65rem) {
  .axie:hover .hidden-text {
    -webkit-animation: representation8 2s forwards;
            animation: representation8 2s forwards;
  }
  @-webkit-keyframes representation8 {
    0% {
      opacity: 0;
      -webkit-transform: translateY(30px);
              transform: translateY(30px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(60px);
              transform: translateY(60px);
    }
  }
  @keyframes representation8 {
    0% {
      opacity: 0;
      -webkit-transform: translateY(30px);
              transform: translateY(30px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(60px);
              transform: translateY(60px);
    }
  }
}

@media (max-width: 32rem) {
  .axie {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 4;
    grid-row: 4;
  }
  .axie:hover .hidden-text {
    -webkit-animation: none;
            animation: none;
  }
}

.quen {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 5;
  grid-row: 5;
  background-image: url("../../assets/quen.png");
}

.quen:hover {
  background-image: url("../../assets/quen-hover.png");
}

.quen:hover .hidden-text {
  width: 150px;
  bottom: 30px;
  -webkit-animation: representation5 2s forwards;
          animation: representation5 2s forwards;
}

@-webkit-keyframes representation5 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-70px);
            transform: translateX(-70px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(-120px);
            transform: translateX(-120px);
  }
}

@keyframes representation5 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-70px);
            transform: translateX(-70px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(-120px);
            transform: translateX(-120px);
  }
}

@media (max-width: 65rem) {
  .quen:hover .hidden-text {
    -webkit-animation: representation9 2s forwards;
            animation: representation9 2s forwards;
  }
  @-webkit-keyframes representation9 {
    0% {
      opacity: 0;
      -webkit-transform: translateY(30px);
              transform: translateY(30px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(60px);
              transform: translateY(60px);
    }
  }
  @keyframes representation9 {
    0% {
      opacity: 0;
      -webkit-transform: translateY(30px);
              transform: translateY(30px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(60px);
              transform: translateY(60px);
    }
  }
}

@media (max-width: 32rem) {
  .quen {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 5;
    grid-row: 5;
  }
  .quen:hover .hidden-text {
    width: 100px;
    -webkit-animation: none;
            animation: none;
  }
}

.hidden-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.8em;
  font-family: 'the-witcher';
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background-color: gray;
  background-image: linear-gradient(12deg, #88989b, #dee9e7);
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  position: absolute;
  opacity: 0;
}

@media (max-width: 65rem) {
  .hidden-text {
    font-size: 1.5em;
  }
}

@media (max-width: 32rem) {
  .hidden-text {
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: -20px;
    font-size: 1.2em;
    opacity: 1;
  }
}
/*# sourceMappingURL=styles.css.map */