//--witcher-font--------------------
@font-face{
    font-family: 'the-witcher';
    src: url("https://dafonttop.com/wp-data/t/406/6406/file/thewitcher-4.ttf") format("woff"), url("https://dafonttop.com/wp-data/t/406/6406/file/thewitcher-4.ttf") format("opentype"), url("https://dafonttop.com/wp-data/t/406/6406/file/thewitcher-4.ttf") format("truetype");
    src: url(../../fonts/thewitcher-4.ttf)
}

//--breakpoints----------------------
$desktop: 90rem;
$ipad: 65rem;
$smaller-ipad: 32rem;

//--color-----------------------------
$igni: #ff7656;
$quen: #f8ff7a;
$ard: #58f6ff;
$yrden: #d132ff;
$axie: #90ff7a;

//--center----------------------------
@mixin center {
    justify-content: center;
    align-items: center;
}

//--metal-font-witcher----------------
@mixin witcher-font-metal {
    font-family: 'the-witcher';
    text-transform: uppercase;
    letter-spacing: 0.1em;
    background-color: gray;
    background-image: linear-gradient(12deg, #88989b, #dee9e7);
    background-size: 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

//--repeat-wrapper-style----------------
@mixin wrapper-page {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 220px auto; 

    @media (max-width: $ipad) {
        grid-template-columns: 0.5fr 3fr 0.5fr;
    }
}

@mixin wrapper-list {
    display: grid;
    grid-column: 2;
    grid-row: 2;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-items: center;
    gap: 15px;
}

//--size-photo-in-item--------------------
$item-width: 200px;
$item-height: 270px;
$photo-height: 225px;