//--breakpoints----------------------
$desktop: 90rem;
$ipad: 65rem;
$smaller-ipad: 30rem;

//--color-----------------------------
$igni: #ff7656;
$quen: #f8ff7a;
$ard: #58f6ff;
$yrden: #d132ff;
$axie: #90ff7a;