//--witcher-font--------------------
@font-face{
    font-family: 'the-witcher';
    src: url("https://dafonttop.com/wp-data/t/406/6406/file/thewitcher-4.ttf") format("woff"), url("https://dafonttop.com/wp-data/t/406/6406/file/thewitcher-4.ttf") format("opentype"), url("https://dafonttop.com/wp-data/t/406/6406/file/thewitcher-4.ttf") format("truetype");
    src: url(../../fonts/thewitcher-4.ttf)
}

//--breakpoints----------------------
$desktop: 90rem;
$ipad: 65rem;
$smaller-ipad: 32rem;

//--color-----------------------------
$igni: #ff7656;
$quen: #f8ff7a;
$ard: #58f6ff;
$yrden: #d132ff;
$axie: #90ff7a;