* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: serif;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #dee9e7;
    background-color: #181818;
    
    h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    }
    
    a, button {
    cursor: pointer;
    text-decoration: none;
    border: none;
    outline: none;
    background-color: transparent;
    }
    
    ul {
    list-style: none;
    padding: 0;
    margin: 0;
    }
}


